//imports
@import "../../../styles/global/variables";

.profile-wrapper {
  .icon {
    p {
      font-size: 30px;
      font-weight: 700;
      line-height: 1;
    }
  }
}

.new-profile-form {
  width: 700px !important;
}

.account-details-form {
  width: 100% !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
