//imports
@import "../../styles/global/variables";

.menu-tab-parent {
  background-color: white;
  // padding: 0 1rem;
  border-radius: 15px;

  .tab-bordered {
    height: 2.5rem;
    font-size: 15px;
    text-transform: capitalize;
  }

  .tab-active {
    border-color: $accent;
    color: $accent;
  }
}

.account {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.account-details {
  width: 100%;
  margin: 0 auto;
  background-color: $white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 10px 10px #8b8b8b13;
  padding: 2rem;
  height: fit-content;
  border-bottom: 2px solid $accent;

  &:hover {
    background-color: $accent;

    ul {
      li {
        color: $white !important;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      font-size: 14px;

      span {
        font-weight: 700;
      }
    }
  }
}

.your-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: $white;
  border-radius: 10px;
  padding: 2rem 0;

  .change {
    width: 500px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.account-quick-links {
  grid-template-columns: 1fr 1fr !important;
}
